<section class="container">
    <div class="card-container" >
        <div class="result-search">
            <label class="descricao-bol" for="">{{ 'CARD.description' | translate }}</label>
        </div>
        <div class="card" *ngFor="let curso of listaCursos">
            <img class="card-image" src="../../assets/img/eduplay.png">
            <h3 class="card-title">
                {{curso.nomeCurso}}
            </h3>
            <div class="card-content">
                <div class="desc-container">
                    <div class="descricao-valor">
                        <label class="descricao-val" for="">{{ 'CARD.value' | translate }}</label>
                        <label class="valor" for="">{{curso.valor}}</label>
                        <label for="">(era R${{curso.valorOriginal}})</label>
                    </div>
                    <div class="descricao-bolsa">
                        <label class="descricao-bol" for="">{{ 'CARD.scholarship' | translate }}</label>
                        <label class="percent" for="">{{curso.bolsa}}%</label>
                        <label class="periodo" for="">{{curso.periodo}}</label>
                    </div>
                </div>
                <div class="categoria-container">
                    <div class="categoria-col-1">
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                play_lesson
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.categoria_especifica}}</label>
                        </div><br>
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                schedule
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.turno}}</label>
                        </div><br>
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                calendar_month
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.duracao}} {{curso.duracao_tipo}}</label>
                        </div><br>
                    </div>
                    <div class="categoria-col-2">
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                devices
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.modalidade}}</label>
                        </div><br>
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                assessment
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.instituicao}}</label>
                        </div><br>
                        <div class="cat-descricao">
                            <mat-icon class="material-icons-outlined">
                                fmd_good
                            </mat-icon>
                            <label class="cat-label" for="">{{curso.cidade}}</label>
                        </div><br>
                    </div>
                </div>
            </div>
            <mat-card-actions class="card-button">
                <button class="button-card" mat-raised-button (click)="openDialog(curso)" mat-flat-button color="primary">Saiba mais</button>
            </mat-card-actions>
        </div>
    </div>
</section>
