<div class="card-container">
    <label class="result-search">78 cursos de cursos gratuitos selecionados</label>
    <mat-card class="card">
        <img mat-card-image class="card-image" src="../../assets/img/eduplay.png">
        <mat-card-title class="card-title">
            Simple card
        </mat-card-title>
        <mat-card-content class="card-content">
            <div class="desc-container">
                <div class="descricao-valor">
                    <label class="descricao-val" for="">Valor com Edupass</label>
                    <label class="valor" for="">R$0,00</label>
                    <label for="">(era R$128,00)</label>
                </div>
                <div class="descricao-bolsa">
                    <label class="descricao-bol" for="">Bolsa</label>
                    <label class="percent" for="">100%</label>
                    <label class="periodo" for="">Até o fim do curso</label>
                </div>
            </div>
            <div class="categoria-container">
                <div class="categoria-row-1">
                    <div>
                        <mat-icon class="material-icons-outlined">
                            play_lesson
                        </mat-icon>
                        <label class="cat-label" for="">Curso Livre</label>
                    </div>
                    <div>
                        <mat-icon class="material-icons-outlined">
                            devices
                        </mat-icon>
                        <label class="cat-label" for="">EAD</label>
                    </div>
                </div>
                <div class="categoria-row-2">
                    <div>
                        <mat-icon class="material-icons-outlined">
                            schedule
                        </mat-icon>
                        <label class="cat-label" for="">Online</label>
                    </div>
                    <div>
                        <mat-icon class="material-icons-outlined">
                            assessment
                        </mat-icon>
                        <label class="cat-label" for="">EduPlay</label>
                    </div>
                </div>
                <div class="categoria-row-3">
                    <div>
                        <mat-icon class="material-icons-outlined">
                            calendar_month
                        </mat-icon>
                        <label class="cat-label" for="">30 minutos</label>
                    </div>
                    <div>
                        <mat-icon class="material-icons-outlined">
                            fmd_good
                        </mat-icon>
                        <label class="cat-label" for="">Nacional</label>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="card-button">
            <button class="button-card" mat-flat-button color="primary">Saiba mais</button>
        </mat-card-actions>
    </mat-card> 
</div>