<div class="container-page">
    <div class="top-bar">
        <img class="img-logo" src="../../assets/img/logo.png" alt="Logo da edupass">
        <div class="search">
                <input class="input-search" type="search" placeholder="Pesquisar" autocomplete="off">
                <img class="img-search" src="../../assets/img/outline_search_black_24dp1.png" alt="Lupa de pesquisa">
        </div>
        <div class="login">
            <label class="login-label">Inicio</label>
            <label class="login-label">Olá,</label>
            <label class="login-nome">Matheus</label>
            <img class="img-search" src="../../assets/img/outline_code_black_24dp.png" alt="Lupa de pesquisa">
        </div>
    </div>
    
    <app-layout></app-layout>
    <div class="bottom-bar">
        barra inferior
    </div>
</div>
