<section class="container">
    <div class="card-container" >
        <div class="card">
            <img class="card-image" src="../../assets/img/eduplay.png">
            <h3 class="card-title">
                {{ cursoDetail.nomeCurso }} 
            </h3>
            <div class="card-content">
                <div class="desc-container">
                    <div class="descricao-valor">
                        <label class="descricao-val" for="">Valor com Edupass</label>
                        <label class="valor" for="">{{ cursoDetail.valor }}</label>
                        <label for="">(era R${{cursoDetail.valorOriginal}})</label>
                    </div>
                    <div class="descricao-bolsa">
                        <label class="descricao-bol" for="">Bolsa</label>
                        <label class="percent" for="">{{ cursoDetail.bolsa }}</label>
                        <label class="periodo" for="">{{ cursoDetail.periodo }}</label>
                    </div>
                </div>
                <div class="categoria-container">
                    <div class="categoria-col-1">
                        <div>
                            <mat-icon class="material-icons-outlined">
                                play_lesson
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.categoria_especifica }}</label>
                        </div><br>
                        <div>
                            <mat-icon class="material-icons-outlined">
                                schedule
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.turno }}</label>
                        </div><br>
                        <div>
                            <mat-icon class="material-icons-outlined">
                                calendar_month
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.duracao }} {{ cursoDetail.duracao_tipo }}</label>
                        </div><br>
                        
                    </div>
                    <div class="categoria-col-2">
                        <div>
                            <mat-icon class="material-icons-outlined">
                                devices
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.modalidade }}</label>
                        </div><br>
                        
                        <div>
                            <mat-icon class="material-icons-outlined">
                                assessment
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.instituicao }}</label>
                        </div><br>
                        <div>
                            <mat-icon class="material-icons-outlined">
                                fmd_good
                            </mat-icon>
                            <label class="cat-label" for="">{{ cursoDetail.cidade }}</label>
                        </div><br>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

