:root{
    --branco: #fff;
    --primary-color: #742670;
    --secundary-color: #3bd7c8;
    --layout-color: #e2e2e2;
    --backgroundcard-color: #fff;
    --navbar-color: #fff;
    --search: #d682cf;
    --price-color: #537150;
    --grayscale-color: #bebdbd;

}